.dashboard-container {
  display: flex;

  .column {
    width: 400px;
    border-right: 1px solid $lightGrey;
    height: 500px;

    .column-header {
      text-align: center;
      margin-bottom: 12px;
    }

    .add-job-btn {
      margin: auto;
      display: block;
      width: 75%;
      border: 1px solid $lightGrey;
      box-shadow: $shadow;
      height: 32px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      cursor: pointer;
      color: $primary;
    }
  }
}